:root {
  --font-color: black;
  --bg-color: white;
  --primary-blue-color: #3a86ff;
  --border-color: silver;
  --hover-color: white;
  --shadow-color: silver;
  --sec-shadow-color: rgb(224, 222, 222);
  --border-2-color: silver;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --font-color: white;
  --bg-color: #212121;
  --border-color: silver;
  --shadow-color: #212121;
  --border-2-color: white;
  --sec-shadow-color: rgb(56, 55, 55);
  --input-dark-color: #ced4da;
  background-color: var(--bg-color);
  color: var(--font-color);
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #posts {
    padding-bottom: 5rem;
  }
}

.error__page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.error__page h1 {
  font-size: clamp(2rem, 10vw, 3rem);
  position: relative;
  top: -4rem;
  color: red;
  text-align: center;
}

.error__page a {
  background-color: var(--primary-blue-color);
  padding: 5px 2rem;
  border-radius: 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
