:root {
  --font-color: black;
  --bg-color: white;
  --primary-blue-color: #3a86ff;
  --border-color: silver;
  --hover-color: white;
  --shadow-color: silver;
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  --font-color: white;
  --bg-color: #212121;
  --border-color: silver;
  --shadow-color: #212121;
  background-color: var(--bg-color);
  color: var(--font-color);
  height: 100%;
  width: 100%;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #posts {
    padding-bottom: 5rem;
  }
}
