.creator__main {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.creator__main h2 {
  font-size: 28px;
}
.creator__editor {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--font-color);
  display: flex;
}

.creator__editor__content {
  width: 72%;
  border-right: 1px solid var(--font-color);
  padding: 0 1rem 0 0;
}
.creator__editor__attachment {
  width: 28%;
  padding: 0 0 0 1rem;
}

.creator__editor__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  padding: 0 0 1rem 0;
}
.creator__editor__title h3 {
  font-size: 22px;
  padding: 0 1rem 0 0;
}
.creator__editor__title input {
  width: calc(100% - 2rem);
  outline: none;
  font-weight: 500;
  height: 40px;
  padding: 2px 0.5rem;
  font-size: 18px;
  border: 1px solid var(--border-2-color);
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.creator__editor__paragraphList {
  width: 100%;
  height: auto;
}
.creator__editor__paragraphList ul {
  list-style-type: none;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  overflow: auto;
  flex-wrap: wrap;
}
.creator__editor__paragraphList li {
  width: 100%;
  height: auto;
  max-height: 250px;
  max-width: fit-content;
  border: 1px solid white;
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.creator__editor__paragraph__number {
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  font-weight: 500;
  font-size: 16px;
}

.creator__editor__paragraphList h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.creator__editor__AddBtn {
  font-size: 18px;
  font-weight: bold;
  padding: 4px 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--primary-blue-color);
  color: var(--primary-blue-color);
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--bg-color);
}
.creator__editor__AddBtn:hover {
  background-color: var(--primary-blue-color);
  color: white;
}

.creator__editor__paragraph__content {
  display: flex;
  height: 100%;
  width: 100%;
}

.creator__editor__paragraph__content span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.creator__editor__paragraph__content span svg {
  font-size: 40px;
  color: #4568dc;
}

.creator__editor__paragraph__content span p {
  font-size: 25px;
  font-weight: bold;
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #4568dc, #b06ab3);
  background: linear-gradient(to right, #4568dc, #b06ab3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.creator__editor__paragraph__content p {
  overflow: hidden;
  padding: 0 1rem 0 0;
  max-height: 170px;
}
.creator__editor__paragraph__content img {
  width: auto;
  border-radius: 0.5rem;
  height: 100%;
  max-height: 180px;
}

.creator__editor__paragraph__action {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.5rem 0 0 0;
  height: fit-content;
}
.creator__editor__paragraph__action svg {
  font-size: 30px;
  color: var(--primary-blue-color);
  cursor: pointer;
}
.creator__editor__paragraph__action div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creator__editor__paragraph__action div:nth-child(1) button {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 1rem;
  height: 28px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--bg-color);
}
.creator__editor__paragraph__action div:nth-child(1) button:nth-child(1),
.creator__editor__paragraph__action div:nth-child(1) button:nth-child(2) {
  color: var(--primary-blue-color);
  border: 1px solid var(--primary-blue-color);
}
.creator__editor__paragraph__action div:nth-child(1) button:nth-child(3) {
  color: red;
  border: 1px solid red;
}
.creator__editor__paragraph__action div:nth-child(1) button:nth-child(3):hover {
  background-color: red;
  color: white;
}
.creator__editor__paragraph__action div:nth-child(1) button:nth-child(1):hover,
.creator__editor__paragraph__action div:nth-child(1) button:nth-child(2):hover {
  background-color: var(--primary-blue-color);
  color: white;
}
.creator__editor__paragraph__action div:nth-child(2) {
  display: flex;
  gap: 0.5rem;
}
.creator__editor__paragraph__action div:nth-child(2) svg {
  font-size: 32px;
  color: var(--primary-blue-color);
  cursor: pointer;
}
.creator__editor__action {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.creator__editor__action button:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 1rem;
  width: 100%;
  max-width: 180px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--bg-color);
}
.creator__editor__action button:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 1rem;
  display: flex;
  align-items: center;
  max-width: 180px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: var(--bg-color);
}

.creator__editor__action button:first-of-type {
  color: red;
  border: 1px solid red;
}
.creator__editor__action button:last-of-type {
  color: green;
  border: 1px solid green;
}

.creator__editor__action button:first-of-type:hover {
  background-color: red;
  color: white;
}
.creator__editor__action button:last-of-type:hover {
  background-color: green;
  color: white;
}

.creator__editor__attachment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.creator__editor__tags h4 {
  font-size: 20px;
}

.creator__editor__tags__selectBar {
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem;
}
.creator__editor__tags__selectBar__input {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
}
.creator__editor__tags__selectBar__input input {
  min-width: 200px;
  height: 35px;
  border: none;
  padding: 0 0.5rem 0 0.8rem;
  font-size: 18px;
  outline: none;
  background-color: white;
  border: 1px solid var(--border-2-color);
  border-radius: 1rem 0 0 1rem;
  border-right: none;
}
.creator__editor__tags__selectBar__input button {
  height: 35px;
  border: 2px solid var(--primary-blue-color);
  background-color: var(--primary-blue-color);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  padding: 0 0.5rem;
}

.creator__editor__tags__selectBar__select {
  display: flex;
  align-items: center;
}

.creator__editor__tags__selectBar__select select {
  height: 35px;
}
.creator__editor__tags__selectBar__select div {
  height: 100%;
}

.creator__editor__tags__list {
  padding: 0.5rem 1rem 1rem 1rem;
  width: 100%;
  height: auto;
}
.creator__editor__tags__list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: auto;
}
.creator__editor__tags__list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  background-color: var(--primary-blue-color);
  padding: 0px 0.2rem 0px 0.8rem;
  border-radius: 0.5rem;
}
.creator__editor__tags__list li span {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.creator__editor__tags__list li svg {
  font-size: 35px;
  color: red;
  cursor: pointer;
}

.blogsCreator__selectBar {
  display: flex;
  align-items: center;
}
.blogsCreator__selectBar h3 {
  font-size: 18px;
}

.blogsCreator__selectBar select {
  height: 40px;
  border-radius: 2rem;
  width: fit-content;
}
.blogsCreator__selectBar h3 {
  font-weight: 500;
}
.blogsCreator__selectBar div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
.blogsCreator__selectBar__tag {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid silver;
  height: 100%;
  min-width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.blogsCreator__selectBar__tag svg {
  font-size: 22px;
  color: var(--primary-blue-color);
}
.blogsCreator__selectBar__tagList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  width: 100%;
  height: fit-content;
  top: 2.6rem;
  list-style: none;
  left: 0rem;
  border-radius: 1rem;
  border: 1px solid var(--border-2-color);
  z-index: 500;
  background-color: var(--bg-color);
}
.blogsCreator__selectBar__tagList li {
  width: 100%;
  cursor: pointer;
  padding: 2px 0.3rem 0.3rem 0.8rem;
  display: flex;
  font-size: 16px;
}
.blogsCreator__selectBar__tagList li:first-of-type {
  border-radius: 0.9rem 0.9rem 0 0;
  padding-top: 5px;
}
.blogsCreator__selectBar__tagList li:last-of-type {
  border-radius: 0 0 0.9rem 0.9rem;
  padding-bottom: 5px;
}
.blogsCreator__selectBar__tagList li:hover {
  background-color: var(--primary-blue-color);
  color: white;
}
.blogsCreator__selectBar__tagList_hidden {
  display: none;
}

.blogsCreator__selectBar__check {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0;
}

.blogsCreator__selectedTags {
  background-color: var(--primary-blue-color);
  color: white;
  transition: all 0.3s;
}
.blogsCreator__selectBar__tagList li.blogsCreator__selectedTags:hover {
  background-color: var(--primary-blueDark-color);
}

.creator__editor__smallBaner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.creator__editor__mainBaner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.creator__editor__Addimage {
  width: 100%;
  height: auto;
  box-shadow: 0 0 15px var(--shadow-color);
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 80px;
  border-radius: 1rem;
  cursor: pointer;
}
.creator__editor__Addimage span {
  font-size: 18px;
  font-weight: 500;
}

.creator__editor__Addimage svg {
  font-size: 40px;
  color: #4568dc;
}

.creator__editor__Addimage img {
  height: 80%;
  width: auto;
  color: #4568dc;
  border-radius: 0.8rem;
}

.contentModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 70%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.contentModal__body {
  width: 100%;
  max-width: 800px;
  height: auto;
  background-color: var(--bg-color);
  border-radius: 1rem;
}

.contentModal__body__head {
  width: 100%;
  height: auto;
  padding: 2rem;
}
.contentModal__body__head h2 {
  font-size: 28px;
}
.contentModal__body__main {
  padding: 0 2rem;
}
.contentModal__body__main span {
  font-size: 20px;
  font-weight: 500;
}
.contentModal__body__main__paragraphList {
  width: 100%;
  height: auto;
  padding: 1rem 0;
}
.contentModal__body__main__paragraphList ul {
  list-style-type: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.contentModal__body__main__paragraphList ul li {
  width: 220px;
  height: auto;
  border: 2px solid var(--border-2-color);
  border-radius: 0.5rem;
  cursor: pointer;
}
.contentModal__body__main__paragraphList ul li div:nth-child(1) {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  padding: 0.5rem;
}
.contentModal__body__main__paragraphList
  ul
  li
  div.contentModal__selectParagraphType__icon {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0 2.5rem 0;
}
.contentModal__body__main__paragraphList
  ul
  li
  div.contentModal__selectParagraphType__icon
  svg {
  font-size: 50px;
  color: #4568dc;
}
.contentModal__body__action {
  padding: 2rem;
  display: flex;
  justify-content: end;
  gap: 2rem;
}
.contentModal__body__action button {
  font-size: 18px;
  font-weight: 500;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-blue-color);
  color: var(--primary-blue-color);
  padding: 2px 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.contentModal__body__action button:first-of-type {
  color: red;
  border: 1px solid red;
}
.contentModal__body__action button:first-of-type:hover {
  background-color: red;
  color: white;
}
.contentModal__body__action button:last-of-type {
  border: 1px solid var(--primary-blue-color);
  color: var(--primary-blue-color);
}
.contentModal__body__action button:hover {
  background-color: var(--primary-blue-color);
  color: white;
}

.contentModal__body__action button:hover {
  background-color: var(--primary-blue-color);
  color: white;
}

.contentModal__body__main__paragraphList
  ul
  li.contentModal__selectParagraphType {
  border: 2px solid var(--primary-blue-color);
}

.contentModal__body__main__paragraphList
  ul
  li
  div:nth-child(1)
  div.contentModal__selectParagraphType__check {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-2-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-blue-color);
}

.contentModal__body__main__paragraphList
  ul
  li
  div:nth-child(1)
  div.contentModal__selectParagraphType__checked {
  width: 20px;
  height: 20px;
  border: 1px solid var(--primary-blue-color);
  background-color: var(--primary-blue-color);
  color: white;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contentModal__body__main__paragraphList ul li div:nth-child(1) svg {
  width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 400px) {
  .blogsCreator__selectBar div {
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .blogsCreator__selectBar div {
    height: 40px;
  }
}
