.header {
  width: 100%;
  color: var(--font-color);
  display: flex;
  margin: 0 auto;
  max-width: 1460px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
  background-color: var(--bg-color);
}

.header__logo {
  display: flex;
}
.header__logo a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 30px;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.header__logo strong {
  font-family: sans-serif;
  color: #3a86ff;
}

.header__menu {
  display: flex;
  gap: 2rem;
  width: fit-content;
  align-items: center;
}
.header__nav {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  align-items: center;
}

.hamburger {
  display: none;
  align-items: center;
}
.hamburger svg {
  font-size: 25px;
  cursor: pointer;
}

.header__nav a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 20px;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 5000;
}

.dropDown {
  position: absolute;
  top: 2.25rem;
  right: 0;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--font-color);
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 100;
  display: none;
  background-color: var(--bg-color);
}
.dropDown:hover {
  display: flex;
}

.authBtn {
  border: 1px solid var(--font-color);
  border-radius: 0.6rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--font-color);
  font-weight: 500;
  padding: 4px 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  background-color: var(--bg-color);
}

.header__auth:hover .dropDown {
  display: flex;
}
.header__auth:hover .user {
  border-radius: 50% 50% 0 0;
  border-bottom: 1px solid var(--bg-color);
  z-index: 150;
}

.authBtn:hover {
  background-color: var(--primary-blue-color);
  color: var(--hover-color);
  border-color: var(--primary-blue-color);
}

.header__auth svg {
  font-size: 25px;
}
.header__auth .user {
  border: 1px solid var(--font-color);
  border-radius: 50%;
  padding: 5px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__theme {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 2px;
  margin-top: 3px;
}
@media screen and (max-width: 450px) {
  .header__theme {
    margin-right: 1rem;
  }
}
.header__theme__ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  margin-right: 1px;
}

.header__nav__mobile {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 10000;
}
.header__nav__mobile a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 25px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.hamburger__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.hamburger__close svg {
  font-size: 35px;
}
.SetBtn {
  text-decoration: none;
  color: var(--font-color);
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0.25rem 0;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__menu {
    gap: 1rem;
  }
  .hamburger {
    display: flex;
  }
}
@media screen and (max-width: 450px) {
  .header__logo a {
    font-size: 25px;
  }
  .header__theme {
    margin-right: 1rem;
  }
  .header {
    padding: 0 0.8rem;
    height: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .header__logo a {
    font-size: 22px;
  }
  .header__auth svg {
    font-size: 22px;
  }
  .hamburger svg {
    font-size: 22px;
  }
  .header {
    padding: 0 0.5rem;
  }
}
