.blogs {
  width: 100%;
  min-height: 100vh;
  max-width: 1460px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
.blogs__types {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  padding: 0 0 1rem 0;
}

.blogs__types__active {
  font-weight: bold;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}
.blogs__types__none {
  font-weight: 400;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
}

.blogs__filterBar {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs__searchBar {
  display: flex;
  padding: 0rem;
  border-radius: 2rem;
  width: fit-content;
  height: 40px;
}
.blogs__searchBar input {
  font-size: 16px;
  border-radius: 2rem 0 0 2rem;
  padding: 0 0.5rem 0 1rem;
  height: 100%;
  width: fit-content;
  min-width: 100px;
  max-width: 200px;
  outline: none;
  border: none;
  border: 1px solid var(--border-2-color);
  border-right: none;
}

.blogs__searchBar__options {
  height: 100%;
  width: fit-content;
  display: flex;
}
.blogs__searchBar__options div {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 0.85rem 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid var(--primary-blue-color);
  border-radius: 0 2rem 2rem 0rem;
  background-color: var(--primary-blue-color);
}

.blogs__searchBar__options div svg {
  font-size: 25px;
  color: white;
}
.blogs__searchBar__options select {
  height: 100%;
  min-width: 60px;
  border: none;
  border: 1px solid var(--border-2-color);
  border-right: none;
  border-left: none;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
.blogs__searchBar__options select option {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.blogs__selectBar {
  display: flex;
  align-items: center;
}
.blogs__selectBar h3 {
  font-size: 18px;
}

.blogs__selectBar select {
  height: 40px;
  border-radius: 2rem;
  width: fit-content;
}
.blogs__selectBar h3 {
  font-weight: 500;
}
.blogs__selectBar div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}
.blogs__selectBar__tag {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid silver;
  height: 100%;
  min-width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
.blogs__selectBar__tag svg {
  font-size: 22px;
  color: var(--primary-blue-color);
}
.blogs__selectBar__tagList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  height: fit-content;
  top: 2.8rem;
  list-style: none;
  left: 0rem;
  border-radius: 1rem;
  border: 1px solid var(--border-2-color);
  z-index: 500;
  background-color: var(--bg-color);
  z-index: 1000;
}
.blogs__selectBar__tagList li {
  width: 100%;
  cursor: pointer;
  padding: 2px 0.2rem 0.2rem 0.8rem;
  display: flex;
  font-size: 16px;
}
.blogs__selectBar__tagList li:first-of-type {
  border-radius: 0.9rem 0.9rem 0 0;
  padding-top: 5px;
}
.blogs__selectBar__tagList li:last-of-type {
  border-radius: 0 0 0.9rem 0.9rem;
  padding-bottom: 5px;
}
.blogs__selectBar__tagList li:hover {
  background-color: var(--primary-blue-color);
  color: white;
}
.blogs__selectBar__tagList_hidden {
  display: none;
}

.blogs__selectBar__check {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 0;
}

.blogs__filter__clear {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border: 1px solid var(--primary-blue-color);
  padding: 0 0.65rem;
  border-radius: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  height: 40px;
}
.blogs__filter__clear:hover {
  background-color: var(--primary-blue-color);
}
.blogs__filter__clear:hover svg {
  color: white;
}
.blogs__filter__clear svg {
  font-size: 18px;
  color: var(--primary-blue-color);
}

.blogs__content {
  padding: 1rem;
  display: flex;
}

.blogs__content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  list-style: none;
  justify-content: center;
}
.blogs__content__element {
  width: 100%;
  max-width: 450px;
  max-height: 580px;
  height: fit-content;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.blogs__content__image {
  margin: 0 1rem;
  position: relative;
}

.blogs__content__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  max-height: 530px;
  transition: all 0.3s;
}
.blogs__content__image img:hover {
  box-shadow: 0 0 20px silver;
  cursor: pointer;
}

.blogs__content__tag {
  background-color: var(--bg-color);
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.blogs__content__tag span {
  background-color: var(--primary-blue-color);
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 0.5rem;
}
.blogs__content__desc {
  padding: 0 1rem;
}
.blogs__content__desc h2 {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 1.4em;
  margin: 0;
}

.blogs__content__desc div p {
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1.2em;
  max-height: 6em;
}

.blogs__content__info {
  padding: 0.5rem 1rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
}
.blogs__content__user {
  display: flex;
}
.blogs__content__userIcon {
  display: flex;
  align-items: center;
}
.blogs__content__userIcon svg {
  font-size: 30px;
}

.blogs__content__user div:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
}
.blogs__content__userInfo {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.blogs__content__userInfo span:first-of-type {
  font-weight: 500;
  font-size: 18px;
}
.blogs__content__userInfo button {
  font-weight: 500;
  color: var(--primary-blue-color);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--bg-color);
  border: none;
}
.blogs__content__userInfo button:hover {
  color: var(--font-color);
}
.blogs__content__createTime {
  color: var(--border-2-color);
  font-size: 14px;
}
.blogs__content__save {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.blogs__content__save svg {
  cursor: pointer;
  color: var(--primary-blue-color);
}
.blogs__content__action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blogs__content__react {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 25px;
  background-color: var(--bg-color);
  z-index: 500;
  padding: 5px 10px;
  border-radius: 1rem;
  opacity: 1;
  transition: all 0.3s;
}
.blogs__content__react span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  gap: 0.25rem;
  color: var(--font-color);
}
.blogs__content__image:hover .blogs__content__react {
  opacity: 0;
}

.blogs__content__react span:first-of-type svg {
  color: #ff006e;
}
.blogs__content__react span:last-of-type svg {
  color: var(--primary-blue-color);
}
.blogs__content__react svg {
  cursor: pointer;
  font-size: 25px;
}

.blogs__content__notFound {
  color: var(--border-2-color);
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.UserFollow {
  border: 1px solid var(--primary-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  border-radius: 25%;
  cursor: pointer;
  margin: 0;
  height: 18px;
  width: 20px;
}
.UserFollow svg {
  font-size: 12px;
  font-weight: bold;
  color: var(--primary-blue-color);
  transition: all 0.3s;
}
.UserFollow:hover svg {
  color: white;
}
.UserFollow:hover {
  background-color: var(--primary-blue-color);
}

@media screen and (max-width: 400px) {
  .blogs__filterBar {
    padding: 1rem 0.5rem;
    gap: 1rem;
  }
  .blogs__searchBar input {
    max-width: 150px;
  }

  .blogs__selectBar div {
    height: 40px;
  }
  .blogs__content__info {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .blogs__filterBar {
    padding: 1rem 1rem;
    gap: 1.2rem;
  }

  .blogs__selectBar div {
    height: 40px;
  }
}
