.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 700px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.main__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main__images {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.main__content p {
  width: 100%;
  height: fit-content;
  padding: 3rem 0;
}
.main__content h1 {
  font-size: clamp(2rem, 10vw, 3.5rem);
}
.main__content span {
  font-size: clamp(1rem, 10vw, 1.2em);
}

.smallText {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  gap: 0.2rem;
}
.smallText span {
  font-family: "Courier New", Courier, monospace;
}
.strong {
  color: var(--primary-blue-color);
}

.main__explore {
  margin-top: 4rem;
}

.main__explore ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.main__category {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--primary-blue-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  border-radius: 1rem;
  transition: all 0.3s;
}
.main__category img {
  height: 35px;
  width: 40px;
  border-radius: 50%;
}
.main__category:hover {
  background-color: var(--primary-blue-color);
  color: var(--hover-color);
}
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 1300px;
  }
  .main__content {
    width: 100%;
  }
  .main__images {
    width: 100%;
    margin-bottom: 4rem;
  }
  .main__images img {
    max-height: 100%;
    width: fit-content;
  }
  .main__explore ul {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 400px) {
  .main {
    height: 1500px;
  }
}
